body {
  font-family: Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

nav {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #bbbbbb;
    border-radius: 0 0 50px 50px;
}

section {
    box-shadow: rgba(0,0,0,0.3) 0em 0em 1em;
}

main {
    padding: 20px;
    width: 75%;
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bbbbbb;
    border-radius: 20px;
}

article {
    background-color: #ddd;
    border-radius: 10px;
    padding: 20px;
}

.comments-section {
    background-color: white;
    border-radius: 20px;
    padding: 4px 12px;
    margin: 16px;
}

.comment { 
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.5em;
    transition: 200ms;
}

.comment:hover{
    transform: scale(1.01);
}

.comment-username {
    display: inline-block;
    border-radius: 5px;
    padding: 4px 10px;
    margin-right: 10px;
    color: white;
    background-color: #888;
    width: 70px;
    text-align: center;
    transition: 200ms;
}

.comment-username:hover{
    background-color: #555;
}

#usernames-container {
    display: flex;
    justify-content: center;
}

#usernames-container > li{
 float: left;
 margin: 4px;
}

p {
    text-align: justify;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h1,
h2, h3{
  color: #73094c;
}

ul {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

input {
  width: 40%;
  border: 3px solid #73094c;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  margin: 15px;
}

#comment-input {
    width: 70%;
}

label {
  color: white;
  /*display: block;*/
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 70%;
  border: 7px solid #73094c;
  border-radius: 75px;
  padding: 20px;
  text-align: left;
}

fieldset > div {
    width: 100%;
}

legend {
  background-color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

button {
    display: block;
    margin-left: auto;
    margin-right: 10%;
    font-size: 1.4em;
  color: #73094c;
  text-shadow: 0px 1px 1px #ffffff;
  border: 2px solid #b2b2b2;
  background-color: #73094c;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f0e8c7),
    to(#9c9060)
  );
  background: -moz-linear-gradient(top, #f0e8c7, #9c9060);
  background: -o-linear-gradient(top, #f0e8c7, #9c9060);
  background: -ms-linear-gradient(top, #f0e8c7, #9c9060);
}

button:hover {
  color: #73094c;
  border: 2px solid #a4a4a4;
  background-color: #73094c;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f0e8c7),
    to(#9c9000)
  );
  background: -moz-linear-gradient(top, #f0e8c7, #9c9000);
  background: -o-linear-gradient(top, #f0e8c7, #9c9000);
  background: -ms-linear-gradient(top, #f0e8c7, #9c9000);
}

footer {
    display: flex;
    background-color: #b4b4b4;
    justify-content: center;
    text-align: center;
    position: sticky;
    width: 100%;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}